# Java
.gradle
build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# Web
dist/
node_modules/
.DS_Store
npm-debug.log
.idea
/stats.json
/storybook-static/

# Python
.ipynb_checkpoints/
tmp/
*.pyc
.data
Icon?